.alert {
    padding: 20px;
    background-color: #f44336; /* Red */
    color: white;
    margin-bottom: 15px;
    border-radius: 5px;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}
.closebtn:hover {
    color: black;
}
html, body {
    height: 100%;
    /* background: rgb(242, 0, 255); */
   } 
.calendar-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.calendar {
    /* background: rgb(0, 136, 255); */
  display: flex;
  gap: 40px;
  flex-direction: column !important;
  align-items: center;
  justify-content: center;
}
.calendar > div {
    display: flex;
    gap: 40px;
  font-size: 20px;
}
.calendar-row > div {
  align-items: center;
  justify-content: center;
  width: 30px;
  font-size: 30px;
}
.calendar-row{
    display: flex;

}
.days-of-week > div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px; 
    font-style: italic;
    color: #2fcf5f;
} 
/* color: #7267a0 */
.write-in-Center{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid red;
    border-radius: 50%;
    padding: 5px; */
}